{% include "adminmenu.html"%}
<div class="row" style="padding:50px;margin-lef:50px;  background-color: white; color:black" >
<div class="container-fluid" style="margin-left:50px">
<form method="post" action="/aleka/updaterecord/">
  {% csrf_token %}
  {% for i in item %}
  <input type="hidden" value="{{i.id}}" name="id"/>
  <div class="form-group">
    <div class="row" style="width:50%">
      <div class="form-group">
    <label for="artsname" >Name</label>

    <input required type="text" class="form-control" id="artsname" name="artsname" aria-describedby="loginHelp" value="{{i.artsname}}"/>
    <small id="loginHelp" class="form-text text-muted"></small>
  </div>
       <div class="form-group ">
    <label for="artsdescr" class="col-sm-3">Descr</label>
    <Textarea required type="text" class="form-control" id="artsdescr" name="artsdesc" aria-describedby="loginHelp" >{{i.artsdescr}}</textarea>

  </div>
      <div class="form-group">
    <label for="artsname">Price</label>
    <input required type="text" class="form-control" id="artsprice" name="artsprice" aria-describedby="loginHelp" value="{{i.artsprice}}"></input>

  </div>
        <div class="form-group">
    <label for="artscategory" >Category</label>
    <select  class="form-control" id="artscategory" name="artscategory" aria-describedby="loginHelp" >
    {% for cat in cats %}
      <option valeu="{{cat.category}}">{{cat.categorydescr}}</option>
    {% endfor %}}
    </select>


  </div>


    </div>
  </div>
  <div class="form-group">
    </div>

  <button type="submit" class="btn btn-primary">Submit</button>
  {% endfor %}
</form>
</div>
</div>